main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main > section {
  flex: 1;
}

main > section,
.add-point {
  display: flex;
  height: 300px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

main > section,
.add-point > h3 {
  margin-right: auto;
}
